@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Inter:wght@500&family=Poppins:wght@300&family=Ysabeau:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa";
}
body {
  display: flex;
  justify-content: center;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(purple, pink);
}
.dark {
  background: linear-gradient(black, gray);
}
.home-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 50px;
  font-size: calc(1rem);
  padding-left: 15px;
}
.container {
  width: 100%;
  height: 100%;
  border: 4px solid black;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  input {
    height: 30%;
    width: 50%;
    border-radius: 20px;
    border: 4px solid white;
    color: black;
    font-size: 20px;
    text-indent: 10px;
    transition: 0.5s;
    outline: none;
    &:hover {
      height: 35%;
      width: 55%;
      transition: 0.5s;
      font-size: 20px;
    }
  }
  button {
    margin-left: 15px;
    height: 30%;
    width: 12%;
    color: black;
    border-radius: 20px;
    outline: none;
    border: 4px solid white;
    background: white;
    transition: 0.5s;
    font-size: 20px;
    &:hover {
      height: 35%;
      width: 17%;
      transition: 0.5s;
      font-size: 20px;
    }
  }
}
.name-city,
.celsius {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 55px;
  transition: 0.5s;
  padding: 5px;
}
.temp_min,
.temp_max {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  transition: 0.5s;
  padding: 5px;
}
.feels-like {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  transition: 0.5s;
  padding: 5px;
}
.name-city:hover {
  font-size: calc(4rem);
  transition: 0.5s;
}
.content {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-icons {
  position: static;
  color: white;
  width: 25rem;
  height: 25rem;
  transition: 0.5s;
  &:hover {
    width: 30rem;
    height: 30rem;
    transition: 0.5s;
  }
}
.bottom {
  height: 20%;
  width: 100%;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.list {
  margin-bottom: 100px;
  color: white;
  font-size: 25px;
}
