.Content {
  padding: 32px 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 425px;
  width: 817px;
  border-radius: 32px;
  background: linear-gradient(0.4turn, #ad36cb, #333333);
  font-size: 30px;
  color: white;
  padding: 28px 35px;

  .Info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .Temp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 70px;
  }

  .Statuses {
    display: flex;
    justify-content: space-between;

    .Status {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
}
