.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Default {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 50px;
  font-size: calc(1rem);
  padding-left: 15px;
}

.container {
  width: 100%;
  height: 100%;
  border: 4px solid black;
}
.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  gap: 20px;
  border-radius: 20px 20px 0px 0px;

  input {
    height: 30%;
    width: 50%;
    border-radius: 20px;
    border: 4px solid white;
    color: black;
    font-size: 20px;
    text-indent: 10px;
    outline: none;
  }

  button {
    cursor: pointer;
    color: black;
    border-radius: 20px;
    outline: none;
    border: 4px solid white;
    background: white;
    font-size: 20px;
    padding: 8px 16px;
  }
}

.CityName,
.Celsius {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 55px;
  transition: 0.5s;
  padding: 5px;
}

.MinTemp,
.MaxTemp {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  transition: 0.5s;
  padding: 5px;
}

.FeelsLike {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  transition: 0.5s;
  padding: 5px;
}

.name-city:hover {
  font-size: calc(4rem);
  transition: 0.5s;
}

.Content {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactIcons {
  position: static;
  color: white;
  width: 25rem;
  height: 25rem;
  transition: 0.5s;

  &:hover {
    width: 30rem;
    height: 30rem;
    transition: 0.5s;
  }
}

.Bottom {
  height: 20%;
  width: 100%;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.List {
  margin-bottom: 100px;
  color: white;
  font-size: 25px;
}
