@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Inter:wght@500&family=Poppins:wght@300&family=Ysabeau:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
}

body {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(purple, pink);
}

.container {
    width: 100%;
    height: 100%;
    border: 4px solid black;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.header input {
    height: 30%;
    width: 50%;
    border-radius: 20px;
    border: 4px solid white;
    color: black;
    font-size: 20px;
    text-indent: 10px;
    transition: .5s;
    outline: none;
}

.header input:hover {
    height: 35%;
    width: 55%;
    transition: .5s;
    font-size: 25px;
}

.name-city, .celsius {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
    transition: .5s;
    padding: 5px;
}

.feels-like {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
    transition: .5s;
    padding: 5px;
}

.name-city:hover {
    font-size: 60px;
    transition: .5s
}

.content {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-icons {
    position: static;
    color: white;
    width: 300px;
    height: 300px;
    transition: .5s;
}

.react-icons:hover {
    width: 350px;
    height: 350px;
    transition: .5s;
}

.bottom {
    height: 20%;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.list {
    margin-bottom: 50px;
    color: white;
    font-size: 30px;
}