.Header {
  height: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 64px;
  font-size: 30px;
  color: white;
}

.Logo {
  font-weight: bold;
  font-size: 69px;
}

.Nav {
  display: flex;
  gap: 150px;

  a {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
