.Search {
  height: 100px;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    height: 66px;
    width: 711px;
    border-radius: 25px;
    text-indent: 40px;
    font-size: 30px;
  }
}
